<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.1/grids-responsive-min.css">
  {%block css%}{%endblock%}

  <title>Survey App</title>
  <style>
    body {
      text-align: center;
    }
    .pure-g {
      text-align: center;
      margin: auto;
      padding-top: 150px;
      padding-bottom: 100px;
    }
    .pure-control-group{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .pure-table{
      margin:auto;
    }
    .pure-checkbox{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  </style>
</head>
<body>
  <header>
    <nav class="pure-menu pure-menu-horizontal">
      <a href="{{ url_for('index') }}" class="pure-menu-heading pure-menu-link">Survey App</a>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{{ url_for('index') }}" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a href='/api/results' class="pure-menu-link">See results</a></li>
        <li class="pure-menu-item"><a href="/admin/summary" class="pure-menu-link">Admin summary</a></li>
      </ul>
    </nav>
  </header >
  {% block content %}{% endblock %}
</body>
</html>