{%extends "base.html"%}
{% block content %}
  <header>
    <h1>Survey App</h1>
  </header>
  <main>
    <p>We are conducting a survey to gather information about our audience. Your participation is optional and highly appreciated.</p>
    <p>To participate, please click the "Consent" button below. To decline, click the "Decline" button.</p>
    <div class="pure-g">
      <div class="pure-u-1-2">
        <a href="/survey" class="pure-button pure-button-primary">Consent</a>
      </div>
      <div class="pure-u-1-2">
        <a href="/decline" class="pure-button pure-button-secondary">Decline</a>
      </div>
    </div>
    <div class="gif">
      <img src="static/images/dobi02.gif" alt="Dobi's gif02">
    </div>
  </main>
{% endblock %}